* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:black;
}
.header{
    font-size: 20px;
    font-style: bold;
    text-align: center;
    background-color: yellow;
}
.border{
    border:solid;
    border-color: 10px black;
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
}
.menu{
    background-color: rgb(250, 3, 3);
    font-size: 12px;
}
.main{
    background-color: rgb(97, 94, 253);
    font-size: 12px;
}
.footer{
    background-color:darkgray;
    font-size: 12px;
}
.contact-align{
    grid-template-columns: 2;
    grid-template-rows: 3;
    background-color: blue;
    padding: 10px;
}
.foto-volgende-project{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.column{
    display: grid;
    grid-template-columns: 100px 100px;
    padding: 10px;
    margin: 10px;
}
.grid-contact{
    display:grid;
    grid-template-columns: 2;
    grid-column-start: 1;
    grid-column-end: 2;
    margin: 10px;
}
@media only screen and (min-width: 768px){
    .grid {
        display:grid;
        grid-template-columns: 1fr 3fr;
        grid-template-rows: 1fr 1fr 0.5fr;
    }
    .header{
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 1;
        grid-row-end:1;
        font-size: 20px;
        font-style: bold;
        text-align: center;
        background-color: yellow;
    }
    .main{
        grid-row-start:2;
        grid-column-start:1;
        grid-row-end:2;
        grid-column-end:3;
        background-color: rgb(97, 94, 253);
        font-size: 18px;
    } 
    .quizvraag{
        grid-column-start: 1;
        grid-column-end: 3; 
        grid-row-start: 2;
        grid-row-end:2;
        height: 20px;
        background-color: blueviolet;
    }
       .menu{
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end:2;
        background-color: rgb(250, 3, 3);
        font-size: 25px;
    }
    .flex{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: stretch;
    }
    .footer{
        grid-column-start:1;
        grid-column-end:3;
        grid-row-start: 3;
        grid-row-end: 3; 
        background-color:darkgray;
        font-size: 18px;
    }
}